Xcursor.theme: DMZ-White

URxvt.font:                xft:monospace:size=14
URxvt.letterSpace:         -1

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     default,matcher,resize-font,fullscreen

URxvt.keysym.C-Delete:    perl:matcher:last
URxvt.keysym.M-Delete:    perl:matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2: gvim +$2 $1

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.url-launcher:        /usr/bin/firefox
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1

! Jellybeans Terminal Colours
URxvt.foreground:   #e8e8d3
URxvt.background:   #151515
URxvt.cursorColor:  #e8e8d3

! black
URxvt.color0:       #3b3b3b
URxvt.color8:       #6c6c6c

! red
URxvt.color1:       #cf6a4c
URxvt.color9:       #db8f78

! green
URxvt.color2:       #99ad6a
URxvt.color10:      #b2c18f

! yellow
URxvt.color3:       #d8ad4c
URxvt.color11:      #e1c178

! blue
URxvt.color4:       #597bc5
URxvt.color12:      #829cd3

! magenta
URxvt.color5:       #a037b0
URxvt.color13:      #b769c3

! cyan
URxvt.color6:       #71b9f8
URxvt.color14:      #94caf9

! white
URxvt.color7:       #adadad
URxvt.color15:      #c1c1c1
