URxvt.font:                xft:Source Code Pro:size=14:regular:hinting=true:antialias=true
URxvt.boldFont:            xft:Source Code Pro:size=14:bold:hinting=true:antialias=true

URxvt.letterSpace: -1

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt*fading:              30

URxvt.perl-ext-common:     default,matcher,selection-to-clipboard

URxvt.keysym.C-Delete:    perl:matcher:last
URxvt.keysym.M-Delete:    perl:matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.matcher.launcher.2: gvim +$2 $1

URxvt.keysym.F11:          perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up

URxvt.url-launcher:        /usr/bin/firefox
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL:             #7780a1

! not mix bright with bold
URxvt.intensityStyles: false

URxvt.background: #282828
URxvt.foreground: #ebdbb2
URxvt.color0:  #282828
URxvt.color8:  #928374
URxvt.color1:  #cc241d
URxvt.color9:  #fb4934
URxvt.color2:  #98971a
URxvt.color10: #b8bb26
URxvt.color3:  #d79921
URxvt.color11: #fabd2f
URxvt.color4:  #458588
URxvt.color12: #83a598
URxvt.color5:  #b16286
URxvt.color13: #d3869b
URxvt.color6:  #689d6a
URxvt.color14: #8ec07c
URxvt.color7:  #a89984
URxvt.color15: #ebdbb2
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color166: #d65d0e
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! urxvt transparancy
URxvt.transparent: true
URxvt.shading:20

! Rofi
rofi.color-enabled: true
rofi.color-window: argb:cc3c3836, argb:cc3c3836, #3c3836
rofi.color-normal: argb:cc3c3836, #eee8d5, argb:cc3c3836, argb:ccfabd2f, argb:cc3c3836
rofi.color-active: argb:cc3c3836, #268bd2, argb:cc3c3836, #268bd2, argb:ccfdf6e3
rofi.color-urgent: argb:cc3c3836, #dc322f, argb:cc3c3836, #dc322f, argb:ccfdf6e3
